/* ================================================================== */
/* Font selection */

html {
    font-family: "Charter", serif;
    line-height: 1.4;
}

h1,
h2,
h3,
nav,
.toc {
    font-family: "Fira Sans", sans-serif;
    i {
        margin-right: $base-spacing;
    }
}

pre,
code {
    font-family: "Source Code Pro", monospace;
}

/* ================================================================== */
/* Document structure */

html {
    color: #1c1c1c;
    background-color: $color-white;
}

pre {
    background-color: $color-off-white;
}

hr {
    border: 0px;
    border-top: 1px solid $color-grey;
    margin: 2rem 0;
}
