@import 'ui/variables';

.measurement {
  .measurement-info {
    margin-top: 18px;
    margin-bottom: 18px;
    padding: 18px 22px;
    background-color: $color-off-white;
  }

  .result {
    text-align: center;
    color: $color-off-white;
    font-family: 'Fira Sans';

    .anomalous-result {
      padding: 18px;
      background-color: $color-blocked;
    }

    .normal-result {
      padding: 18px;
      background-color: $color-unblocked;
    }
  }

  i.ooni {
    font-size: 20px;
  }

  .description {
    margin-top: 18px;

    .detail {
      color: $color-ooni-blue;
    }

    h1:first-of-type {
      // Hack to avoid showing the title twice
      display: none;
    }
  }

  .detail {
    font-family: 'Fira Sans';
    color: $color-grey;
    font-size: 16px;
  }
}
