@import '../../styles/ui/variables';

.measurement-result {
  margin-top: 18px;
  margin-bottom: 18px;
  padding: 18px 22px;
  background-color: $color-off-white;
}
.measurement-anomaly {
  background-color: $color-red;
  color: $color-off-white;
}
.measurement-ok {
  background-color: $color-unblocked;
  color: $color-off-white;
}
