<div class="container" ng-if="summary">
  <div class="row">
    <h2>{{summary.test_name}}</h2>
    <span>{{summary.country_code}}</span> -
    <span>{{summary.asn}}</span> -
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Result</th>
        <th>URL</th>
      </tr>
    </thead>
    <tbody>
    <tr ng-repeat="result in summary.results">
      <td ng-if="result.anomaly == true" class="danger">
        Anomaly detected
      </td>
      <td ng-if="result.anomaly == false">
        No anomaly detected
      </td>
      <td><a
          ui-sref="measurement({measurementId: measurementId, idx: result.idx})">
        {{result.url}}</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<div class="container" ng-if="error">
  <h2>Error {{error.error_code}}</h2>
  <p>{{error.error_message}}</p>
</div>
