<div class="row">
  <h1>Logs for ooniprobe</h1>
</div>

<div class="row" ng-if="submitting">
  <p>uploading logs...</p>
</div>

<div class="row bg-warning" ng-if="submitFailed">
  <p>Failed to upload logs. Please try again.</p>
</div>

<div class="row" ng-if="shareLink">
  <p>The logs are available here: <a href="{{shareLink}}">{{shareLink}}</a>
  </p>
</div>

<div class="row">
  <textarea class="logs-view" show-tail
            ng-model="logs.latest"></textarea>
  <button class="btn" ng-click="shareLatestLog()">share</button>
  <button class="btn" ng-if="logs.older.length == 0"
          ng-click="loadAll()">show older logs</button>
</div>

<div class="row" >
  <div ng-if="loadingOlder" class="loading">
    <span><i class="fa fa-spinner fa-spin"></i> Loading</span>
  </div>
</div>

<div class="row" ng-if="logs.older && logs.older.length != 0">
  <h2>Older logs</h2>
</div>

<div ng-repeat="log_data in logs.older" class="row"
     ng-if="logs.older && logs.older.length != 0">
  <textarea show-tail class="logs-view">{{log_data}}</textarea>
</div>
