@import '../../styles/ui/variables';

.status-buttons {
   a {
     color: $color-grey;
     display: inline-block;
     font-size: 12px;
     margin-right: 10px;
     text-align: center;
     text-transform: uppercase;
     text-decoration: none;
  }
  a:hover {
    text-decoration: none;
  }
  span {
    background: $color-off-white;
    display: block;
    height: 30px;
    margin: 0 auto 10px;
    padding-top: 5px;
    width: 30px;
    border-radius: 50%;
  }
  a.active span {
    background: $color-ooni-blue;
    color: $color-white;
  }
}

.navigation {
  margin-top: 18px;
  margin-bottom: 18px;
}

.wizard {
  font-size: 18px;
}
