@import '../../styles/ui/variables';

.wizard {
  padding: 0 10%;
  font-size: 18px;

  .page-header {
    margin-top: 50px;
    h2 {
      font-size: 60px;
    }
  }

  .radio {
    margin-left: 20px;
  }

  .btn-block {
    background-color: $color-dark-blue;
    color: $color-white;
    font-family: "Fira-sans", sans-serif;
    font-size: 20px;
  }

  .btn:hover {
    background-color: $color-ooni-blue;
  }

  .contextual-help {
    padding-top: 20px;
    padding-right: 20px;

    color: $color-off-black;
  }
}

.status-buttons {
  margin-top: 50px;
  a {
    color: $color-grey;
    display: inline-block;
    font-size: 20px;
    margin-right: 10px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 50px;
  }
  a:hover {
    text-decoration: none;
  }

  a span {
    background: $color-off-white;
    display: block;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    font-family: "Fira-sans", sans-serif;
    text-align: center;
    transition: background-color 0.5s;
  }

  a.active span {
    background: $color-ooni-blue;
    color: $color-white;
  }
}

.navigation {
  margin-top: 18px;
  margin-bottom: 18px;
}

.advanced-options {
  padding-top: 30px;
}
