<div class="wizard">
  <div class="page-header text-center">
    <h2>{{$state.current.title}}</h2>
    <div class="status-buttons" class="text-center">
      <a ui-sref-active="active" ui-sref=".step1"><span>1</span></a>
      <a ui-sref-active="active" ui-sref=".step2"><span>2</span></a>
      <a ui-sref-active="active" ui-sref=".step3"><span>3</span></a>
      <a ui-sref-active="active" ui-sref=".step4"
         ng-show="answeredQuiz"><span>4</span></a>
      <a ng-show="!answeredQuiz"><span>4</span></a>
    </div>
  </div>

  <div class="wizard-view" ui-view>
  </div>

</div>
