<h1>Greetings!</h1>
<p>It looks like this is the first time you are running ooniprobe!</p>

<p>Please go through this setup wizard to get started with ooniprobe. It
probably won't take longer than a few minutes!</p>

<p>The Open Observatory of Network Interference
(OONI) is a free software project, under the Tor
Project, which collects and processes network
measurements with the aim of detecting network anomalies, such as censorship and
traffic manipulation.</p>

<p>Running OONI's software tests can potentially be a
  <strong>risky</strong> activity,
depending on
the laws and jurisdiction of the country that you are running them from. This
also largely depends on which tests you run and on which URLs you test. Please
read this document carefully to understand more about the risks related to
the use of ooniprobe.</p>

By running ooniprobe, you are participating as a volunteer in this project. This
form includes information that you should be aware of and consent to *prior* to
running ooniprobe.

<div class="navigation row">
  <div class="col-xs-6 col-xs-offset-6">
      <a ui-sref="setup.step2" class="btn btn-block btn-info">
      Next<span class="glyphicon glyphicon-circle-arrow-right"></span>
      </a>
  </div>
</div>
