<p>
Please answer the following questions to ensure you have understood what
ooniprobe does and that you are aware of risks associated with running the
software.
</p>

<h2>In regards to how detectable ooniprobe is, which of the following
  statements is true?</h2>
<div class="radio">
  <label>
    <input type="radio" ng-model="answer.question1"
           value="one">
    Anyone monitoring my internet activity (e.g. ISP, government or employer)
    might be able to see that I am running ooniprobe, even though OONI takes
    precautions to make this hard
  </label>
</div>

<div class="radio">
  <label>
    <input type="radio" ng-model="answer.question1"
           value="two">
    Anyone monitoring my internet activity (e.g. ISP, government or employer)
    will <em>not</em> be able to see that I am running ooniprobe
  </label>
</div>

<div class="radio">
  <label>
    <input type="radio" ng-model="answer.question1"
           value="three">
    ooniprobe is designed to protect my privacy and therefore my use of ooniprobe
    cannot be detected
  </label>
</div>


<h2>In regards to the publication of measurements, which of the following
statements is true?</h2>


<div class="radio">
  <label>
    <input type="radio" ng-model="answer.question2"
           value="one">
    My measurements will <em>not</em> by default get published on OONI
    Explorer
  </label>
</div>

<div class="radio">
  <label>
    <input type="radio" ng-model="answer.question2"
           value="two">
    My measurements will by default get published on OONI  Explorer and might
    include personally-identifiable information.
  </label>
</div>

<div class="radio">
  <label>
    <input type="radio" ng-model="answer.question2"
           value="three">
    My measurements will by default get published to OONI Explorer and will
    never include any personally-identifiable information
  </label>
</div>

<div class="navigation row">

  <div class="col-xs-3">
      <a ui-sref="setup.step2" class="btn btn-block btn-info">
          Previous
      </a>
  </div>
  <div class="col-xs-3 col-xs-offset-6">
      <button ng-click="verifyQuestions()" class="btn btn-block btn-info">
      Next
      </button>
  </div>

 </div>
