<p>
  Certain aspects of how ooniprobe operates can be customized.
  Usually the default values are the best option, so only change these if
  you really have to.
</p>

<div class="row">

  <div class="col-xs-6">

    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="configuration.include_ip">
        Should we include your IP address in results?
      </label>
    </div>

    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="configuration.include_asn">
        Should we include your network information (ASN) in the reports (note:
        disabling this will make it much harder for us to draw conclusions from
        the measurements)?
      </label>
    </div>

    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="configuration.include_country">
        Should we include your country name in the reports (note:
        disabling this will make it much harder for us to draw conclusions from
        the measurements)?
      </label>
    </div>

    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="configuration.should_upload">
        Should we upload your results to the default ooni collector and
        therefore publish them?
      </label>
    </div>

    <div class="form-group">
      <label>How should we upload your results to the collector?</label>
      <select ng-model="configuration.preferred_backend" class="form-control">
        <option value="onion">Tor Hidden Service</option>
        <option value="https">HTTPS</option>
        <option value="cloudfront">Cloudfronting</option>
      </select>
    </div>

    <div class="form-group">
      <label>Which test decks should we enable?</label>
      <div class="checkbox" ng-repeat="deck in availableDecks">
        <label>
          <input type="checkbox" ng-model="configuration.deck_config[deck.id]">
          <strong>{{deck.name}}</strong>: {{deck.description}} (will run
          {{deck.schedule}})
        </label>
      </div>
    </div>

  </div>

</div>

<div class="navigation row">
  <div class="col-xs-3">
      <a ui-sref="setup.step3" class="btn btn-block btn-info">
       Previous
      </a>
  </div>
  <div class="col-xs-3 col-xs-offset-6">
      <button ng-click="configure()" class="btn btn-block btn-info">
      Configure
      </button>
  </div>
</div>
