.nettest-category-blocking {
    background-color: #DB588C;
}
.nettest-category-third_party {
    background-color: #8E58DB;
}
.nettest-category-manipulation {
    background-color: #58DBC3;
}
.nettest-category-experimental {
    background-color: #DB5858;
}

.nettest-cards {
    -webkit-padding-start: 0px;
    -webkit-margin-before: 0px;
}

.nettest-cards li {
    display: inline-block;
    vertical-align: top;
    list-style: none;
    width: 30.33%;
    margin: 15px 1.5% 2% 1.5%;
    padding: 0 0 0 10px;
    border-left: 3px solid #3c3c3c;
}

.nettest-description {
    margin-top: 1em;
}

.file-info {
    border: 0;
    padding: 0;
}

.selected-nettest .nettest-options {
    margin-top: 18px;
}

.nettest-detail .modal {
  display: block
}

.nettest-detail .modal-body {
  max-height: 65vh;
  overflow-y: auto;
}
