<div class="status-wrapper" ng-if="status.initialized != false">
  <div class="container">
    <div class="row">
      <div class="pull-left">
        <div class="ooni-logo"></div>
      </div>
      <div class="status-item">
        {{status.software_name}} v{{status.software_version}}
      </div>
      <div class="status-item">
        running:
        <i class="icon icon-ok" ng-if="(status.director_started && status.agent_running) == true"></i>
        <i class="icon icon-not-ok" ng-if="(status.director_started && status.agent_running) == false"></i>
      </div>

      <div class="status-item">
        <strong>Country:</strong> {{status.country_code}}

        ({{status.asn}})
      </div>

      <div class="pull-right">
        <button class="btn status-item" ui-sref="home"
                ui-sref-active="active">home
        </button>

        <button class="btn status-item" ui-sref="nettest"
                ui-sref-active="active">nettests
        </button>

        <button class="btn status-item"
                ui-sref-active="active"
                ui-sref="measurement-list">measurements
        </button>
      </div>

    </div>
  </div>
</div>

<notification-list>
</notification-list>
