<h3 ng-if="measurements.length>0">Measurement list</h3>
<h3 ng-if="measurements.length==0">No measurement run yet</h3>

<div class="measurement-set" ng-repeat="measurement in measurements">
  <h3>{{measurement.test_name}}
    <small>{{measurement.test_start_time | date}}</small>
  </h3>
  <div class="measurement-details">
    <span><strong>ASN</strong> {{measurement.asn}}</span>
    <span><strong>Country</strong> {{measurement.country_code}}</span>
    <a class="btn btn-primary"
     ui-sref="measurement-summary({measurementId: measurement.id})">
    Show measurements
    </a>
  </div>
</div>
