@import '../../../styles/variables/colors';

.table tbody>tr>td {
  vertical-align: middle;
}

.shown-deck {
  color: $color-ooni-blue
}

.hidden-deck {
  h2 {
    color: $color-grey
  }
  .medium-icon {
    color: $color-grey
  }
}
