<main class="measurement">

  <div class="measurement-info row">
      <span class="detail">Measurement</span>
      <h1>
        <i class="ooni icon-measurement"></i>
        {{testNameLong}}
        <small>{{measurement.test_start_time | date:'medium'}}</small>
      </h1>
      <p>
        <strong>Runtime</strong> {{measurement.test_runtime | number:2}} seconds
      </p>
      <p>
        <strong>Report ID</strong> {{measurement.report_id}}

        <span ng-if="explorerLink">(<a href="{{explorerLink}}">view on explorer</a>)</span>

      </p>
      <p>
        <strong>Country</strong> {{measurement.probe_cc}}
      </p>
      <p>
        <strong>ASN</strong> {{measurement.probe_asn}}
      </p>
  </div>

  <div class="test-details" ng-switch on="measurement.test_name">

      <div web-connectivity ng-switch-when="web_connectivity"></div>

      <div http-invalid-request-line ng-switch-when="http_invalid_request_line"></div>

      <div http-header-field-manipulation ng-switch-when="http_header_field_manipulation"></div>

      <div facebook-messenger ng-switch-when="facebook_messenger"></div>

      <div whatsapp ng-switch-when="whatsapp"></div>

  </div>

  <div class="row">
    <button class="btn btn-primary" ng-click="toggleDebug()">raw
      results</button>
    <pre ng-if="debug == true">
    {{measurement | json}}
    </pre>
  </div>

</main>
