<div class="splash">
  <div class="container">
    <div class="ooni-logo"></div>

    <h2 class="welcome-message">Welcome to the ooniprobe web interface!</h2>
  </div>
</div>

<p>
Through this web interface you will be able to run ooniprobe tests to
  <strong>examine censorship</strong> in your network and to view the
  results.
</p>




<p>
  To get started, here are some things you should know:
</p>

<h3>Running tests automatically</h3>
<p>Click on the <strong>decks</strong> button to configure ooniprobe to
automatically test your network
</p>

<h3>Running single tests</h3>
<p>Click on the <strong>nettests</strong> button to choose the ooniprobe
  tests that you want to run
</p>

<h3>Viewing results</h3>
<p>
Click on the <strong>measurements</strong> button to view the results of the
  tests that you ran
</p>

<p>Happy testing!</p>
