<div class="row">
  <div class="result">
    <div class="anomalous-result" ng-if="anomaly == true">
      <i class="ooni icon-censorship-tampering"></i>
       This measurement contains data that could be a sign of network tampering or censorship.
    </div>
    <div class="normal-result" ng-if="anomaly == false">
      <i class="ooni icon-censorship-tampering"></i>
      This measurement looks normal
    </div>
  </div>

  <div ng-if="anomaly == true">
    <p>This means there could be a transparent HTTP proxy present on your
      network.</p>
  </div>

  <div class="description" >
    <span class="detail">What does this test do?</span>
    <div ng-bind-html="description"></div>
  </div>

</div>
