<div>
  <h2>Enabled</h2>
  <div ng-repeat="(deck_id, deck) in decks.enabled" class="deck-detail">
    <h4>{{deck.name}}</h4>
    <p>Schedule: {{deck.schedule}}</p>
    <p>{{deck.description}}</p>
    <button class="btn btn-danger" ng-click="disableDeck(deck_id)">Disable</button>
  </div>
  <h2>Available</h2>
  <div ng-repeat="(deck_id, deck) in decks.available" class="deck-detail">
    <h4>{{deck.name}}</h4>
    <p>Schedule: {{deck.schedule}}</p>
    <p>{{deck.description}}</p>
    <button class="btn btn-success"
            ng-if="!deck.enabled"
            ng-click="enableDeck(deck_id)">
      Enable</button>
    <button class="btn btn-success" ng-click="runDeck(deck_id)">Run Now</button>
  </div>
</div>
