<div class="row result-info">
  <p class="bg-success"
     ng-if="measurement.test_keys.facebook_dns_blocking === false && measurement.test_keys.facebook_tcp_blocking === false">
    Facebook Messenger appears to be working properly.
  </p>

  <p class="bg-danger"
     ng-if="measurement.test_keys.facebook_dns_blocking === true">
    Facebook Messenger appears to be blocked via
    <string>DNS</string>
  </p>

  <p class="bg-danger"
     ng-if="measurement.test_keys.facebook_tcp_blocking === true">
    Facebook Messenger appears to be blocked to due to TCP/IP blocking
  </p>

</div>
