@import '../../../styles/ui/variables';

.bg-info, .bg-danger {
  padding: 18px 22px;
}


// In the censored view we use inverted icons, but we invert the colors so as to keep the color coding consistent.
.result-censored .icon-not-ok {
  color: $color-unblocked;
}

.result-censored .icon-ok {
  color: $color-blocked;
}

.circumvention-strategies {
  margin-top: 18px;
  margin-bottom: 18px;
  padding: 18px 22px;
  background-color: $color-off-white;

  .circumvention-strategy {
    margin-top: 18px;
    margin-bottom: 18px;
    padding: 18px 22px;
    background-color: $color-white;

  }
}
