<div class="row result-info">
  <p class="bg-info">
    This is the result of the <strong>{{testNameLong}}</strong> for the URL
    <code>{{measurement.input}}</code>
  </p>

  <div class="result-row result-accessible">
    <label>Accessible</label>
    <i class="icon icon-not-ok"
       ng-if="measurement.test_keys.accessible == false"></i>
    <i class="icon icon-ok"
       ng-if="measurement.test_keys.accessible == true"></i>
    <i class="icon icon-unknown"
       ng-if="measurement.test_keys.accessible == null"></i>
  </div>

  <div class="result-row result-censored">
    <label>Censored</label>
    <i class="icon icon-not-ok"
       ng-if="measurement.test_keys.blocking == false"></i>
    <i class="icon icon-ok"
       ng-if="measurement.test_keys.blocking != false &&
              measurement.test_keys.blocking != null"></i>
    <i class="icon icon-unknown"
       ng-if="measurement.test_keys.blocking == null"></i>
  </div>

  <p class="bg-danger" ng-if="measurement.test_keys.blocking == 'dns'">
    The site appears to be blocked due to <strong>DNS based
    censorship</strong>. You can circumvent it by changing your DNS resolver.
  </p>

  <p class="bg-danger" ng-if="measurement.test_keys.blocking == 'http-diff'">
    The site appears to be blocked, because it present a <strong>different HTTP
    response</strong>. Maybe you can try accessing it via HTTPS.
  </p>

  <p class="bg-danger" ng-if="measurement.test_keys.blocking == 'http-failure'">
    The site appears to be blocked, because the <strong>HTTP request
    failed</strong>. Maybe you can try accessing it via HTTPS.
  </p>

  <p class="bg-danger" ng-if="measurement.test_keys.blocking == 'tcp_ip'">
    The site appears to be blocked, by means of <strong>TCP/IP
    based blocking</strong>.
    Try using a censorship circumvention tool such as Tor.
  </p>

  <div class="description" >
    <span class="detail">What does this test do?</span>
    <div ng-bind-html="description"></div>
  </div>

</div>
