<div class="row result-info">
  <p class="bg-info">
    This is the result of the <strong>{{testNameLong}}</strong> for the URL
    <code>{{measurement.input}}</code>
  </p>

  <div class="result-row result-accessible">
    <label>Accessible</label>
    <i class="icon icon-not-ok"
       ng-if="measurement.test_keys.accessible == false"></i>
    <i class="icon icon-ok"
       ng-if="measurement.test_keys.accessible == true"></i>
    <i class="icon icon-unknown"
       ng-if="measurement.test_keys.accessible == null"></i>
  </div>

  <div class="result-row result-censored">
    <label>Censored</label>
    <i class="icon icon-not-ok"
       ng-if="measurement.test_keys.blocking == false"></i>
    <i class="icon icon-ok"
       ng-if="measurement.test_keys.blocking != false &&
              measurement.test_keys.blocking != null"></i>
    <i class="icon icon-unknown"
       ng-if="measurement.test_keys.blocking == null"></i>
  </div>

  <p class="bg-danger" ng-if="measurement.test_keys.blocking == 'dns'">
    The site appears to be blocked due to <strong>DNS based
    censorship</strong>.
  </p>

  <p class="bg-danger" ng-if="measurement.test_keys.blocking == 'http-diff'">
    The site appears to be blocked because it presents a <strong>different HTTP
    response</strong>.
  </p>

  <p class="bg-danger" ng-if="measurement.test_keys.blocking == 'http-failure'">
    The site appears to be blocked because the <strong>HTTP request
    failed</strong>.
  </p>

  <p class="bg-danger" ng-if="measurement.test_keys.blocking == 'tcp_ip'">
    The site appears to be blocked by means of <strong>TCP/IP
    based blocking</strong>.
  </p>

  <div class="circumvention-strategies"
       ng-if="measurement.test_keys.blocking != false &&
              measurement.test_keys.blocking != null">
    <h3><i class="ooni icon-tor"></i>Circumvention strategies</h3>
    <p>You can try to circumvent the blocking of the site
      <code>{{measurement.input}}</code> through the
      following:
    </p>
    <div class="circumvention-strategy"
         ng-if="(measurement.test_keys.blocking == 'http-diff'
                 || measurement.test_keys.blocking == 'http-failure') &&
                 measurement.input.substr(0, 5) != 'https'">
      <p>Try visiting the <strong>HTTPS</strong> version of the website in
        question by accessing it via <a href="https{{measurement.input.substr(4)}}">https{{measurement.input.substr(4)}}</a>
      </p>
    </div>
    <div class="circumvention-strategy"
         ng-if="measurement.test_keys.blocking == 'dns'">
      <p>Try <strong>changing your DNS resolver</strong> to one that does not
      implement blocking, such as the Google DNS resolver:
        <code>8.8.8.8</code>.
      </p>
      <p>You can find instructions on how to change your DNS resolver to the
        Google DNS resolver through the following URL: <a
            href="https://developers.google.com/speed/public-dns/docs/using">https://developers.google.com/speed/public-dns/docs/using</a></p>
    </div>
    <div class="circumvention-strategy">
      <p>In most cases you should be able to circumvent censorship by
        using <strong>Tor</strong>. To download Tor visit:
        <a href="https://www.torproject.org/download/download.html.en">https
          ://www.torproject.org/download/download.html.en</a></p>
      <p>
        If the torproject.org website is blocked in your country you can
        download Tor from a mirror of it hosted on github:
        <a href="https://github.com/TheTorProject/gettorbrowser/">
          https://github.com/TheTorProject/gettorbrowser/
        </a>
      </p>
    </div>
    
    <p>
      Note: The above techniques might not always work. 
    </p>
    
  </div>

  <div class="description" >
    <span class="detail">What does this test do?</span>
    <div ng-bind-html="description"></div>
  </div>

</div>
